#receiptSection {
  padding: 50px;
}

.receipt-card {
  max-width: 700px;

  margin: auto;

  background: #fff;

  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  padding: 40px;
}

.receipt-header {
  text-align: center;

  margin-bottom: 30px;
}

.receipt-row {
  display: flex;

  justify-content: space-between;

  margin: 15px 0;

  border-bottom: 1px dashed #ddd;

  padding-bottom: 10px;
}

.status {
  padding: 6px 14px;

  border-radius: 20px;

  font-weight: bold;
}

.pending {
  background: #fff4d6;

  color: #c07a00;
}

#receiptQR {
  margin: 35px auto;

  width: 170px;
}

.receipt-buttons {
  display: flex;

  justify-content: center;

  gap: 20px;
}
